* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin depth($depth) {
  @if $depth == top {
    z-index: 3;
  } @else if $depth == middle {
    z-index: 2;
  } @else if $depth == bottom {
    z-index: 1;
  } @else {
    z-index: inherit;
  }
}

@mixin animation($property, $time, $ease: 'ease') {
  @if $ease == 'ease' {
    transition: $property $time cubic-bezier(.2, 0, .5, 1);
  } @else if $ease == 'ease-in' {
    transition: $property $time cubic-bezier(.4, 0, .9, 1);
  } @else if $ease == 'ease-out' {
    transition: $property $time cubic-bezier(.1, 0, .6, 1);
  }  @else if $ease == 'ease-in-out' {
    transition: $property $time cubic-bezier(.4, 0, .6, 1);
  }
}