.auth-social-button {
	background-color: $color-gray;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	border: none;
	outline: none;
	margin: 0px 20px;
	&__icon {
		font-size: 40px;
	}
	&__icon[class*="facebook"] {
		color: #3b5998;
	}
	&__icon[class*="google"] {
		color: #dc483c;
	}
}
