.quote-delete {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-red;
	@include font(500, 18px);
	color: $color-white;
	z-index: 2;
	transform: translateY(-15px);
	opacity: 0;
	visibility: hidden;
	transition: transform .3s cubic-bezier(.4, 0, .6, 1), opacity .3s cubic-bezier(.4, 0, .6, 1), visibility 0s linear .3s;
	&__button-container {
		margin-top: 15px;
		&__icon {
			font-size: 36px;
			margin: 0px 10px;
		}
	}
}

.quote-delete.visible {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
	transition: visibility, opacity .3s cubic-bezier(.4, 0, .6, 1), transform .3s cubic-bezier(.4, 0, .6, 1);
}