@mixin centerColumn() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin centerRow() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth {
	&__form-container {
		width: 100%;
		@include centerColumn();
	}
	&__input-container {
		width: 100%;
		@include centerColumn;
		margin: 10px 0px;
		min-height: 250px;
	}
	&__divider {
		margin: 10px 0px;
		width: 100%;
		@include centerRow();
		@include font(600, 16px);
		color: $color-gray;
		&__line {
			content: "";
			width: 15%;
			height: 1px;
			background-color: $color-gray;
			margin: 0px 10px;
		}
	}
	&__social-buttons-container {
		margin: 10px 0px;
		width: 100%;
		@include centerRow();
	}
}