.home-empty {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $color-gradient;
	&__logo-container {
		height: 15%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		&__logo {
			max-height: 60px;
		}
	}
}